.breadcrumb {
  padding-top: rem(15);
  padding-bottom: rem(15);
  background-repeat: repeat-x;
  background-position: top center;

  @media screen and (min-width: $breakpoint__mobile-menu) {
    padding-top: rem(60);
    padding-bottom: rem(20);
  }

  &__title {
    margin-bottom: rem(20);
  }

  //Current page
  & span[property="itemListElement"]:last-of-type {
    color: $color__primary;
  }
}
