.news-wrapper {
  margin-bottom: 35px;
}

.two-column-item .hentry {
  padding-bottom: 15px;
}

.page-template-template-two-columns .read-more-link {
  display: block;
  font-size: 20px;
}

.blog-item-wrapper {
  padding: 15px;
  margin-bottom: 15px;
  opacity: 0;
  position: relative;
  background-color: white;
}

.two-column-item:first-child {
  float: left;
  width: calc(99.99% * 1/4);
}

.two-column-item:last-child {
  float: left;
  width: calc(99.99% * 3/4);
  position: relative;
  max-width: 1000px;
  padding: 15px 15px 0;
}

.two-column-item .attachment-post-thumbnail {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

#category-wrapper {
  margin-right: 20%;
  position: relative;
}

#categories {
  border-top: 1px solid rgb(211, 211, 211);
  position: relative;
  z-index: 2;
  transition: top 0.5s;
}

#categories .fa-chevron-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

#category-wrapper h2 {
  margin: 0 0 15px 15px;
}

#category-wrapper span {
  font-size: 18px;
  padding: 25px 15px;
  border-bottom: 1px solid rgb(211, 211, 211);
  cursor: pointer;
  background-color: white;
}

#categories a, #categories span {
  font-weight: 400;
  position: relative;
}

.staff-item p {
  line-height: 1.75;
}

.staff-item:first-child {
  float: left;
  width: calc(99.99% * 1/4);
  padding-right: 15px;
}

.staff-item:last-child {
  float: left;
  width: calc(99.99% * 3/4);
}

.staff-item h3 {
  font-size: 28px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.staff-position {
  font-size: 18px;
}

#ajax-loader {
  opacity: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
}

@media screen and (max-width: 850px) {
  #categories .fa-chevron-right {
    position: relative;
    transform: translate(0, 0);
    margin-left: 15px;
  }

  #category-wrapper {
    margin-right: 0;
  }

  #category-wrapper h2 {
    position: relative;
    cursor: pointer;
    width: 158px;
  }

  #category-wrapper h2::after {
    content: "\f0a4";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: $color__secondary;
    position: absolute;
    right: rem(9);
    top: rem(-1);
    width: rem(18);
    height: rem(18);
    transform-origin: 41% 53%;

    //@include transform(rotate(-90deg));

    -webkit-transition: transform 0.25s;
    transition: transform 0.25s;
  }

  .two-column-item:first-child {
    float: none;
    margin: 0 auto;
    width: 100%;
  }

  .two-column-item:last-child {
    width: 100%;
    float: none;
    padding-bottom: 1px;
  }

  #categories-wrapper {
    width: 100%;
    position: absolute;
    overflow-y: hidden;
  }

  #categories {
    top: -1000px;
    border-top: none;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
  }

  #category-wrapper::after {
    display: none;
  }

  .staff-item:first-child {
    width: 100%;
    text-align: center;
    padding-right: 0;
  }

  .staff-item:first-child img {
    margin-bottom: 15px;
  }

  .staff-item:last-child {
    width: 100%;
    text-align: center;
  }

  .staff-item:last-child h3 {
    margin-bottom: 5px;
  }

  .staff-item:last-child p {
    text-align: justify;
  }
}

@media screen and (max-width: 450px) {
  .blog-thumb-preview {
    width: 100%;
    height: auto;
  }

  .blog-preview-author {
    display: inline-block;
    margin-bottom: 10px;
  }
}

.rotate-arrow-after::after {
  -ms-transform: rotate(90deg) !important;
  -moz-transform: rotate(90deg) !important;
  -webkit-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}

.expanded-categories {
  top: 0 !important;
}

.blog-content p {
  font-size: 16px;
  line-height: 1.75;
  font-family: "lato", sans-serif;
  font-weight: 400;
}

.blog-preview-item:first-child {
  margin-right: 5%;
  float: left;
  height: 100%;
  width: 35%;
}

.blog-preview-item:first-child img {
  max-width: 100%;
  height: auto;
}

.blog-preview-item:last-child {
  overflow: auto;
}

.blog-preview-item a,
.blog-preview-item a:visited,
.blog-preview-item a:hover {
  text-decoration: none;
}

@media screen and (max-width: 850px) {
  .blog-preview-item:first-child {
    float: none;
    margin-right: 0;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
    max-width: 350px;
    margin: 0 auto 15px;
  }

  .blog-preview-item:last-child {
    overflow: visible;
    text-align: center;
  }
}

.blog-preview-item .read-more-link {
  display: block;
}

.blog-preview-item h3 {
  font-size: 27px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

.news-preview-date-wrapper .fa-calendar-o {
  margin-right: 5px;
}

.news-media-excerpt {
  font-size: 16px;
  line-height: 1.75;
  margin-top: 0;
  margin-bottom: 10px;
}

.news-media-excerpt .read-more-link {
  font-size: 20px;
}

.single-news_media .blog-back-to-link {
  float: right;
}

.single-news_media .blog-back-to-link img {
  position: relative;
  top: -1px;
}

.single-news_media .news_media {
  background-color: #f6f6f6;
  padding: 35px 4%;
  border: 1px solid rgb(225, 225, 225);
}

.single-news_media #primary {
  padding: 50px 5%;
}

.single-news_media .fa-calendar-o {
  margin-right: 5px;
}

.single-news_media .news_media h1 {
  margin: 15px 0;
}

.single-news_media .news_media .attachment-post-thumbnail {
  width: 100%;
  height: auto;
  border: 10px solid #e1e1e1;
}

.read-more-link .fa {
  font-size: 80%;
  margin-left: 15px;
}

.news-preview-title {
  color: black;
}

.single-news-media {
  &__header {
    margin-bottom: rem(15);
  }

  &__thumbnail-wrapper {
    margin-bottom: rem(25);
  }

  &__title {
    margin-bottom: rem(10);
  }

  &__back-link {
    margin-top: rem(15);
  }
}
