$tablet: rem(670);
$desktop: rem(1180);
$mobile_last_item: 6;

.sitemap {
  color: white;
  padding-bottom: rem(25);
  font-size: rem(13);
  margin-right: auto;
  margin-left: auto;
  line-height: 1.75;
  display: none;

  @media screen and (min-width: $desktop) {
    border-bottom: 1px solid rgba($color__grey, 0.1);
  }

  & p {
    line-height: 1.75;
  }

  .textwidget {
    max-width: 100%;

    @media screen and (min-width: $desktop) {
      max-width: rem(230);
    }
  }

  &--mobile &__item {
    @include flexbox;

    @include flex-direction(column);

    @include align-items(center);

    @include justify-content(center);

    width: calc(50% - #{rem(30)});
    margin: rem(15) 0;
    text-align: center;
    padding: rem(25);
    border: 1px solid #50595D;

    &:first-child {
      max-width: none;
    }

    &:nth-child(odd) {
      margin-left: 0;
    }

    &:nth-child(even) {
      margin-right: 0;
    }
  }
  
  &--mobile &__widget-item {
    // IE
    max-width: 100%;
  }

  @media screen and (min-width: $tablet) {
    @include flex-wrap(wrap);

    @include justify-content(space-around);

    padding-top: rem(10);

    //padding-bottom: rem(35);

    &--mobile {
      @include flexbox;
    }
  }

  @media screen and (min-width: $desktop) {
    @include flexbox;

    @include flex-wrap(nowrap);

    @include justify-content(center);

    &--mobile {
      display: none;
    }
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 3%;
    margin-top: rem(25);

    &:first-child {
      //max-width: rem(230);

    }

    &:last-child {
      margin-right: 0;
    }

    @media screen and (min-width: $desktop) {
      width: 25%;
      margin-right: 0;
    }
  }

  &__item-title {
    font-size: rem(14);
    margin-bottom: rem(8);
    line-height: 1.5;

    @media screen and (min-width: $desktop) {
      max-width: rem(205);
    }
  }

  & .image {
    margin-bottom: rem(15);
  }

  &--mobile img:first-of-type {
    margin-top: 0;
  }

  // First widget items
  &__widget-item:first-of-type {
    min-height: rem(213);

    @media screen and (min-width: $desktop) {
      border-bottom: 1px solid rgba($color__grey, 0.1);
      margin-bottom: rem(24);
    }
  }

  // Social Media
  &__social {
    @include justify-content(center);

    @media screen and (min-width: $desktop) {
      @include justify-content(flex-start);
    }
  }

  &__widget-item:first-of-type:last-of-type {
    min-height: 0;
  }

  // Popups
  &__popup-wrapper {
    @include justify-content(center);

    @media screen and (min-width: $desktop) {
      @include justify-content(flex-start);
    }

    & .sitemap__popup-hours {
      text-align: left;
    }

    &:hover > .sitemap__popup-hours {
      left: 0;
      top: calc(100% + #{rem(5)});
    }
  }

  & .top-bar__hours-popup::before {
    content: '';
    display: none;
  }
}
